body {

    /* Background */
    background-image: url('sewingappbackground2.jpg');

  
    /* Full height */
    height: 10%;
  
    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: repeat;
    background-color:#FCF9DA;
}

table,td,th,tr{
    color: #FCF9DA;  
    background:#2A383F;
    padding: 20px;
    border: 2px;
    padding:15px;
    margin:8px;

}

table{
    border-radius: 25px;
}

h1{
    font-size: 50px;
    font-weight: bold;
    color: #2A383F;
    background-color: #FCF9DA;
    padding:10px;
    text-align: center; 
}

h2{
    font-size:30px;
    font-weight: bold;
    color:#2A383F;
    background-color: #FCF9DA;
    padding:10px;
    width:8%; 
    border-radius: 25px;
    border-color: #2A383F;
    border:2px;
}


button{
    background-color:#BAB2A7;
    color:#2A383F;
    font-weight:bold;
    border-radius: 20px;
    border: 2px;
    border-color:#BAB2A7;
    box-shadow: 2px 5px #bab2a795;
    padding: 15px;
    margin:5px;
 }
 
 button:hover{
     background-color: #DB636F;
     border-color: #DB636F;
 }

 #edit-fabric { 
    color: #FCF9DA;  
    border-radius: 25px;
    background:#2A383F;
    padding: 20px;
    border: 2px;
    padding:15px;
    margin:8px;
}
 
#edit-pattern { 
    color: #FCF9DA;  
    border-radius: 25px;
    background:#2A383F;
    padding: 20px;
    border: 2px;
    padding:15px;
    margin:8px;
}

#message, #fabrics-message, #patterns-message, #fabric-match-message, #pattern-match-message {
    color: #FCF9DA;  
    border-radius: 25px;
    background:#2A383F;
    padding: 20px;
    border-radius: 30px;
    border: 2px;
    padding:15px;
    margin:8px;
}
 